// Fonts
$primary-font: sans-serif;
$secondary-font: sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-letter-spacing: 0.15em;

// Colors
$primary-color: #111;
$secondary-color: #fff;

$black: #111;
$white: #fff;

// Radius
$radius-base: 6px;
$radius-circle: 50%;
$radius-pill: 9999px;
$radius-soft: 12px;

//Grid
$grid-width: 1140px;

// Spacing
$spacing-small: 0.5rem;
$spacing-base: 1rem;
$spacing-large: 2rem;
$spacing-xlarge: 3rem;


// Elements Sizes
$nav-height: 80px;
$nav-height-mobile: 60px;

$avatar-size: 60px;
$avatar-size-large: 100px;

// Path: src/scss/misc/reset.scss
