// Core Styles and Components
@import 'core/reset';
@import 'core/variables';
@import 'core/grid';
@import 'core/typography';

// Components
@import 'components/header';
@import 'components/quote';

// Global Styles
html {
  font-size: $base-font-size;
  font-family: $primary-font;
  color: $black;
}

p {
  margin-bottom: $spacing-small;
}
